<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>
  <h1>JPA 페이징 게시판(페이지 버튼)</h1>
  <div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
        <tr>
          <th>게시글번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr th:each="posts : ${posts}">
          <td th:text="${posts.id}"></td>
          <td><a th:href="@{'/posts/update/' + ${posts.id}}" th:text="${posts.title}"></a></td>
          <td th:text="${posts.author}"></td>
          <td th:text="${posts.createdDate}"></td>
        </tr>
      </tbody>
    </table>
    <ul style="list-style:none; padding-left: 0px ">
      <!-- 이전 버튼 -->
      <li th:if="${pageMaker.prev}" style="float: left; padding-right: 5px;">
        <a th:href="@{/index1(page=${pageMaker.startPage-2})}">prev</a>
      </li>
      <li th:each="pageNum : ${#numbers.sequence({pageMaker.startPage},{pageMaker.endPage})}" style="float: left; padding-right: 5px;">
        <a th:href="@{/index1(page=${pageNum-1})}" th:text="${pageNum}"></a>
      </li>
      <!-- 다음 버튼 -->
      <li th:if="${pageMaker.next}" style="float: left;">
        <a th:href="@{/index1(page=${pageMaker.endPage})}">next</a>
      </li>
    </ul>
  </div>
  <br>
  <a href="/" role="button" class="btn btn-primary">처음 화면</a>
</body>
<footer th:replace="layout/footer :: footer"></footer>
</html>