<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>
  <h1>스프링 부트로 시작하는 웹 서비스</h1>
  <div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
      <div class="col-md-6">
        <a href="/posts/save" role="button" class="btn btn-primary"> 글 등록</a>
        <!--
        - View단의 로그인, 로그아웃 설정
            - /logout
                - 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL
                - 즉, 개발자가 저 URL에 해당하는 컨트롤러를 만들 필요가 없음
                - SecurityConfig 클래스에서 해당 URL을 변경할 수 있음
            - /oauth2/authorization/google
                - 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL
                - 로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요 없음
        -->
        <span th:if="${personName}">
          Logged in as: <span id="user" th:text="${personName}"></span>
          <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        </span>
        <span th:unless="${personName}">
          <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
          <!--
              - /oauth2/authorization/naver
                  - 네이버 로그인 URL은 application-oauth.properties에 등록한 redirect-uri 값에 맞춰 자동으로 등록됨
                  - /oauth2/authorization/ 까지는 고정이고 마지막 Path만 각 소셜 로그인 코드를 사용하면 됨
                  - 여기서는 naver가 마지막 Path가 됨
          -->
          <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
        </span>
      </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
        <tr>
          <th>게시글번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr th:each="posts : ${posts}">
          <td th:text="${posts.id}"></td>
          <td><a th:href="@{'/posts/update/' + ${posts.id}}" th:text="${posts.title}"></a></td>
          <td th:text="${posts.author}"></td>
          <td th:text="${posts.createdDate}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/paging" role="button" class="btn btn-primary">페이징 게시판</a>
</body>
<footer th:replace="layout/footer :: footer"></footer>
</html>