{{>layout/header}}

    <h1>페이징 게시판</h1>
    <div class="col-md-12">
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#list}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{createdDate}}</td>
                </tr>
            {{/list}}
            </tbody>
        </table>
        <ul>
            {{#pageMaker.prev}}
                <li>
                    <a href='http://localhost:8090/paging?page=' + {{pageMaker.startPage-1}}>prev<i class="fa fa-chevron-left"></i></a>
                </li>
            {{/pageMaker.prev}}
            {{#pageMaker.next}}
                <li>
                    <a href='http://localhost:8090/paging?page=' + {{pageMaker.endPage}}>next<i class="fa fa-chevron-left"></i></a>
                </li>
            {{/pageMaker.next}}
        </ul>
    </div>

{{>layout/footer}}